



  <div class="frontline"style="background-image:url('assets/llamasami.webp')">


  <div class="bgded overlay frontline" style="background-image:url('assets/Parteinicio.png');">
  <div class="ajustes">
    <article>
      <h2 class="heading">Somos la Monda</h2>
      <p>Cule poco de monda aaaaaaaaaaaa<br>mas mondaaaaaaaaaaaaaa<br>aaaaaaaaaa</p>
      <a class="btn" href="contacto">contact us</a>
    </article>
  </div>
</div>
</div>
      <!--<div class="frontline">
        <img src="assets\Parteinicio.png" class="img-fluid">
      </div>-->
