<nav class="navbar navbar-expand-lg"><!--navbar-dark-->
  <a href="#" class="navbar-brand col-md-3">
  <img src="assets\cleanlogo.png" height="80">
  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link col-md-4 fondo1" [routerLink]="['inicio']">Inicio<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link col-md-4 fondo2" [routerLink]="['nosotros']">Nosotros</a>
      <a class="nav-item nav-link col-md-4 fondo3" [routerLink]="['servicios']">Servicios</a>
      <a class="nav-item nav-link col-md-4 fondo4" [routerLink]="['portafolio']">Portafolio</a>
      <a class="nav-item nav-link col-md-4 fondo5" [routerLink]="['contacto']">Contacto</a>
    </div>
  </div>
</nav>
